<h2  align='center'> Day 2 Assignment </h2>

### Back slash 
- It is used to tell the compiler that line is in continuation , check the next line and dont show any error

In [2]:
print('Hello \
Welcome to Batch6')

Hello Welcome to Batch6

### Tripple Quotes
- It is used to create a doc string
- It is used to create a text art
- It is used to make or run a SQL Query

In [5]:
# Creating a Doc String
''' Hey
How are you ?
Hope you are fine and happy !
How is your learning going in this batch ? 
'''

' Hey\nHow are you ?\nHope you are fine and happy !\nHow is your learning going in this batch ? \n'

### String Inside the Quotes

In [6]:
print('How's the session going ?')

SyntaxError: invalid syntax (<ipython-input-6-7181800428f8>, line 1)

This will give error because for the compiler string has ended at How so after that it is not accepting (You can't use single quotes inside the single quotes)

**Solution**

Use single quotes inside double quotes

In [7]:
print("How's the session going ?")

How's the session going ?

### Escape Sequence of String 
There are many types of escape sequences :
* \t --- for tab 
* \n --- for new line
* \b --- for backspace
etc

In [8]:
print('Hello \t Riya')

Hello 	 Riya

In [10]:
print('Hello \nRiya')

Hello
Riya

In [13]:
# Alternate solution to print Single quotes inside Single Quotes

print('Python\'s World')

Python's World

### Formated Output

In [23]:
name = 'RIYA'
marks = 95.78
age = 20
print('Name of Student',name, 'Marks are', marks,'and age is', age)

# Alternate for string Formating 
# 1. Method 1 :
print(f'Name of Student {name} Marks are {marks} and age is {age}')
# 2. Method 2 :
print('Name of Student %s Marks are %.2f and age is %d' %(name,marks,age))

Name of Student RIYA Marks are 95.78 and age is 20
Name of Student RIYA Marks are 95.78 and age is 20
Name of Student RIYA Marks are 95.78 and age is 20

## Python Variables
- Variables means linking the data to name
- According to datatype, the interpreter reserves the memory space
- Variable refers to the memory location that contains the data
<hr>

**Rules to define a Variable**
- A keyword cannot be used as a variable 
- A variable can only contain lower,upper case, numbers and underscore
- A variable cannot start with a number

In [25]:
# Variable names

# if = 10 ( Not valid because if is a reserved keyword )
if1 = 10  # ( valid )
_10 = 6   # ( valid)

### Assignment Statements

In [26]:
x = y = 10

In [27]:
x

10

In [28]:
y

10

In [29]:
id(x)

140720546620080

In [30]:
id(y)

140720546620080

The id operator tells us the address of the RAM . The x and y points to the same memory location thats why it is giving same memory address

## Types of Operators
- Airthmetic operators
- Comparison operators
- Assignment operators
- Bitwise operators
- Logical operators
- Membership operators
- Identity operators

## Airthmetic Operators
-   Exponent ( ** )
-  Multiplication ( * )
-  Division ( / ) 
-   Modulation ( % )
-  Addition  ( + )
- Substraction ( - )
-  Floor Division ( // )

In [32]:
print ('Example of Airthmetic Operators')
print(' 5**2 =', 5**2)
print(' 5*2 =', 5*2)
print(' 5/2 =', 5/2)
print(' 5%2 =', 5%2)
print(' 5+2 =', 5+2)
print(' 5-2 =', 5-2)
print(' 5//2 =',5//2)

Example of Airthmetic Operators
 5**2 = 25
 5*2 = 10
 5/2 = 2.5
 5%2 = 1
 5+2 = 7
 5-2 = 3
 5//2 = 2

## Comparision Operators
- ==
- Less than (<)
-  Greater than (>)
-  Less than equal to (<=)
- Greater than Equal to (>=)
- Not equal to (!=)

In [33]:
print ('Example of Comparision Operators')
print(' 5==2 =', 5==2)
print(' 5<2 =', 5<2)
print(' 5>2 =', 5>2)
print(' 5<=2 =', 5<=2)
print(' 5>=2 =', 5>=2)
print(' 5!=2 =', 5!=2)

Example of Comparision Operators
 5==2 = False
 5<2 = False
 5>2 = True
 5<=2 = False
 5>=2 = True
 5!=2 = True

## Assignment Operators
- =
- +=
- -=
- *=
- /=
- **=

In [38]:
print ('Example of Assignment Operators')
a = 10
b = 20
print('a =',a , 'b = ',b)
print(' a+=b =',  a+b)
print(' a-=b =', a-b)
print(' a*=b =', a*b)
print(' a/=b =', a/b)
print(' a**=b =', a**b)

Example of Assignment Operators
a = 10 b =  20
 a+=b = 30
 a-=b = -10
 a*=b = 200
 a/=b = 0.5
 a**=b = 100000000000000000000

## Bitwise Operator 
- Btwise OR (|)
- Bitwise AND (&)
- Bitwise XOR (^)
- Ones complement (~)
- Left shift (<<)
- Right Shift (>>)

In [39]:
print ('Example of Bitwise Operators')
x = 240 
y = 1
print(' x|y =', x|y)
print(' x&y =', x&y)
print(' x^y =', x^y)
print(' x<<y =', x<<y)
print(' x>>y =', x>>y)
print(' ~x =', ~x)

Example of Bitwise Operators
 x|y = 241
 x&y = 0
 x^y = 241
 x<<y = 480
 x>>y = 120
 ~x = -241

## Membership Operator
- in
- not in

In [43]:
string = "Hello welcome to this course"
print('The string is: ', string)
print(' z in string ?' , 'z' in string)
print(' j not in string ?', 'j' not in string )

The string is:  Hello welcome to this course
 z in string ? False
 j not in string ? True

## Identity Operator 
- is 
- is not

In [46]:
x = 10
y = 10
print('x =', x)
print('y =', y)
print('x is y ?', x is y ) 
z = 12
print('z is not y? ', z is not y)

x = 10
y = 10
x is y ? True
z is not y?  True